<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Profil</title>-->
<!--</head>-->
<!--<body>-->

<!--<h2>{{ profile.user.username }}'ning Profili</h2>-->
<!--<p>{{ profile.bio }}</p>-->
<!--{% if profile.avatar %}-->
<!--    <img src="{{ profile.avatar.url }}" alt="Avatar" width="150">-->
<!--{% else %}-->
<!--    <p>Hali avatar yuklanmagan.</p>-->
<!--{% endif %}-->

<!--{% if user.is_authenticated %}-->
<!--<a href="{% url 'edit_profile' %}">Tahrirlash</a>-->
<!--{% endif %}-->

<!--<a href="{% url 'post_list' %}">Orqaga</a>-->

<!--</body>-->
<!--</html>-->