{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow-sm">
            <div class="card-body">

                <h3 class="mb-3 text-center">🔑 Yangi parol</h3>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button class="btn btn-success w-100">
                        Parolni yangilash
                    </button>
                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}